### 82

In [49]:
meter = int(input())

def taxi_fare(x):
    t = 0
    fare =.00
    t = x//140
    fare =0.25*t+4
    return fare

print(taxi_fare(meter))

141
4.25

### 84

In [50]:
a = int(input())
b = int(input())
c = int(input())

13
45
6

In [54]:
d = [h for h in (a,b,c)]#컨프리핸션
d

[13, 45, 6]

In [55]:
def median_value(x,y,z):
    
    d =[h for h in (x,y,z)]
    d.sort()
    return d[1]

print(median_value(a,b,c))

13

### 85

In [14]:
ordic = dict()##import another program 어떻게 하는거지?

In [16]:
ordic = {1:"first",2:"second",3:"third",4:"fourth",5:"fifth",6:"sixth",7:"seventh",8:"eighth",9:"nineth",10:"tenth",11:"eleventh",12:"twelve"}

In [26]:
a = int(input())

14

In [27]:
def convert_ordinal(x):
    if 1<= x <= 12:
        return ordic[x]
    else:
        return ""

print(convert_ordinal(a))

### 88

In [11]:
st1 = int(input())
st2 = int(input())
st3 = int(input())

3
5
6

In [56]:
def triangle(x,y,z):
    d = [h for h in (x,y,z)]
    d.sort()
    if d[2]>= d[0]+d[1]:
        return False
    else:
        return True

triangle(st1,st2,st3)

True

### 92

In [41]:
#리턴은 불리안으로 나오게 완전수 나눠서 자기 수만 나오게 2로 나눠서 반으로 쪼갠다음에 1만 나오면 완전수로

num = int(input())

17

In [44]:
def number_prime(x):
    d =[]
    for i in range(1,x//2+2):
        if x % i == 0:
            d.append(i)
    if len(d) == 1:
        print("완전수 입니다.")
    else:
        print("완전수가 아닙니다")

In [43]:
number_prime(num)

완전수 입니다.