In [3]:
import requests
from bs4 import BeautifulSoup
import json
import urllib

In [4]:
from urllib import parse

In [5]:
params ={
    "serviceKey":"none",
    "numberOfRows":10,
    "pageNo":1,
    "sidoName":"none",
    "ver":1.3,
    "_returnType":"json"
}
#json으로 받기 위해서
url= "http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getCtprvnRltmMesureDnsty"
params["sidoName"]="광주"
params["serviceKey"]="XMeTLrbD%2F88xl7VF9Y6FSyq3QauZsjJytEs8OaVYTwze66lSYXzfaE0bp58gX%2F%2FbT%2BT6QV9HIM%2Bo7K1CYrL1fQ%3D%3D"

In [6]:
params["serviceKey"] = parse.unquote(params["serviceKey"])#에러가 나는 파라미터를 디코드 해주는 과정
paramUrl = parse.urlencode(params)#url로 들어가는 string타입으로
paramByte =paramUrl.encode("utf-8")

In [7]:
paramByte =paramUrl.encode("utf-8")

In [8]:
def jsondown(url, paramByte):
    req = urllib.request.Request(url, data =paramByte)
    res =urllib.request.urlopen(req)
    result = res.read()#byte형태로 요청을 읽어 온다.
    resultStr = result.decode("utf-8")#'utf-8'이 형태로 우리가 볼수 있게 디코드한다 str라고 생각하면 된다
    resultObj = json.loads(resultStr)#json으로 받았으니 원형태로 load해준다
    return resultObj

In [9]:
result = jsondown(url, paramByte)

In [10]:
y = result['list']

In [11]:
b =[]
for i in y:
    b.append((i['coGrade'],i['coValue'],i['dataTime'],i['khaiGrade'],i['khaiValue'],i['mangName'],i['no2Grade'],i['no2Value'],i['numOfRows'],i['o3Grade'],i['o3Value'],i['pageNo'],i['pm10Grade'],i['pm10Grade1h'],i['pm10Value'],i['pm10Value24'],i['pm25Grade'],i['pm25Grade1h'],i['pm25Value'],i['pm25Value24'],i['so2Grade'],i['so2Value'],i['stationName']))
print(b)

[('1', '0.4', '2018-07-19 23:00', '2', '74', '도시대기', '1', '0.026', '10', '1', '0.009', '1', '2', '2', '37', '37', '2', '2', '26', '25', '1', '0.003', '서석동'), ('1', '0.5', '2018-07-19 23:00', '2', '74', '도시대기', '1', '0.020', '10', '1', '0.017', '1', '2', '2', '31', '37', '2', '2', '24', '25', '1', '0.003', '농성동'), ('1', '0.6', '2018-07-19 23:00', '2', '79', '도로변대기', '1', '0.025', '10', '1', '0.012', '1', '2', '2', '43', '45', '2', '2', '32', '27', '1', '0.003', '치평동'), ('1', '0.3', '2018-07-19 23:00', '2', '66', '도시대기', '1', '0.017', '10', '2', '0.034', '1', '2', '2', '45', '39', '2', '2', '25', '22', '1', '0.003', '두암동'), ('1', '0.6', '2018-07-19 23:00', '2', '66', '도로변대기', '2', '0.032', '10', '1', '0.010', '1', '1', '2', '31', '28', '2', '2', '17', '22', '1', '0.003', '운암동'), ('1', '0.5', '2018-07-19 23:00', '2', '59', '도시대기', '1', '0.011', '10', '1', '0.026', '1', '2', '2', '35', '31', '2', '2', '21', '19', '1', '0.002', '건국동'), ('1', '0.3', '2018-07-19 23:00', '2', '64', '도시대기', '1', '0.012', '10', '1', '0.022', '1', '1', '1', '24', '27', '2', '2', '20', '21', '1', '0.002', '송정1동'), ('1', '0.5', '2018-07-19 23:00', '2', '61', '도시대기', '1', '0.016', '10', '1', '0.016', '1', '2', '2', '35', '32', '2', '2', '21', '20', '1', '0.003', '오선동'), ('1', '0.3', '2018-07-19 23:00', '2', '66', '도시대기', '1', '0.023', '10', '1', '0.013', '1', '2', '2', '38', '39', '2', '2', '20', '22', '1', '0.003', '주월동')]

In [12]:
import sqlite3

In [33]:
conn = sqlite3.connect('air.db')

In [34]:
cur = conn.cursor()

In [36]:
cur.execute("""
    create table air(
    coGrade  text,
    coValue text,
    dataTime text,
    khaiGrade text,
    khaiValue text,
    mangNAme text,
    no2Grade text,
    no2Value text,
    numOfRows text,
    o3Grade text,
    o3Value text,
    pageNo text,
    pm10Grade  text,
    pm10Grade1h text,
    pm10Value text,
    pm10Value24   text,
    pm25Grade    text,
    pm25Grade1h  text,
    pm25Value   text,
    pm25Value24 text,
    so2Grade  text,
    so2Value text,
    stationName text );
""")

In [35]:
cur.execute("drop table air")

In [37]:
cur.executemany("Insert into air values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)",b);

In [38]:
conn.commit()
conn.close()